.basket {
    position: relative;
    width: 25%;
    height: 50px;
    margin: 2px;
    border-radius: 5px;
    background-color: rgb(77, 188, 207);
    margin-right: 5px;
    text-align: center;
}

.basket>span {
    line-height: 50px;
    font-size: 25px;
    color: white;
}

.allBaskets {
    display: flex;
    width: 100%;
    border: 1px dashed #4dbccf;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
}

.basket-images {
    width: 20px;
    height: 20px;
}

.basket-img {
    position: absolute;
    top: 20px;
}