.basket{
    position: relative;
    width: 25%;
    height: 50px;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: rgb(77, 188, 207);
    margin-right: 5px;
    text-align: center;
}
.basket > span{
    line-height: 50px;
}
/* .basket > span > img{
    width: 20px;
    height: 20px;
} */
.allBaskets{
    display: flex;
    width: 100%;
    background-color: aqua;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}
.basket-images{
    width: 20px;
    height: 20px;
}
.basket-img{
    position: absolute;
    top: 20px;
}