.images {
    width: 100px;
    height: 100px;
    cursor: grab;
}

.picsblock {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px dashed #4dbccf;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}